.navbar {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;
}

.navbar nav {
    height: 100%;
}

@media (min-width: 500px) {
    .navbar {
        justify-content: center;
    }
}