.navigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.navigationItem a {
    color: #ccc;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    height: 100%;
    padding: 16px 10px;
    align-items: center;
}

.navigationItem a p {
    text-align: center;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
    background-color: #543864;
    /* border-bottom: 4px solid #ff6464; */
    color: white;
}

@media (min-width: 500px) {
    .navigationItem {
        margin: 0;
        margin-right: 3vw;
        width: auto;
    }
}