.contentWrapper {
    display: flex;
    flex-flow: column;
}

.imageWrapper {
    text-align: center;
    padding: 40px 0;
}

.icon {
    max-height: 25vh;
}

@media (min-width: 1200px) {
    .contentWrapper {
        flex-flow: row;
    }

    .imageWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        padding-left: 40px;
    }

    .icon {
        object-fit: contain;
    }
}
