.reasonContent {
    padding: 10px 15px;
}

.point {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.reasonToPlay:not(:last-of-type) {
    border-bottom: 1px solid #543864;
}

.reasonToPlay:last-of-type .point {
    cursor: default;
}
