.traveler {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.travelerImage {
    max-width: 100%;
    cursor: pointer;
    object-fit: cover;
}

.travelerName {
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
}

.travelerDescription {
    padding: 25px 15px;
}

@media (min-width: 1200px) {
    .traveler {
        height: 500px;
        flex: 1;
    }

    .travelerImage {
        /* TODO: See which looks better, none or cover. */
        object-fit: none;
        object-position: center top;
        height: 100%;
    }
}