.traveler {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.traveler:not(:first-of-type) {
    margin-top: 40px;
}

.imageWrapper {
    height: 100%;
    background: #000;
    width: 100%;
}

.travelerImage {
    height: 100%;
    max-width: 100%;
    cursor: pointer;
    opacity: 0.3;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: filter 0.5s ease-in, -webkit-filter 0.5s ease-in, opacity 0.5s ease-in;
}

.travelerImage:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: none;
}

.selectedTraveler {
    opacity: 1;
    filter: none;
    -webkit-filter: none;
}

.travelerName {
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
}

.travelerDescription {
    padding: 25px 15px;
}

@media (min-width: 1200px) {
    .traveler {
        height: 500px;
        flex: 1;
    }

    .traveler:not(:first-of-type) {
        margin: 0;
    }

    .travelerImage {
        object-fit: none;
        object-position: center top;
    }
}