
/* Container of the tsparticles canvas */
#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

.bg-1a {
    background-color: rgba(1, 2, 78, 0.8);
}

.bg-1 {
    background-color: #01024e;
}

.bg-2 {
    background-color: #543864;
}

.bg-3 {
    background-color: #8b4367;
}

.bg-4 {
    background-color: #ff6464;
}

.bg-1, .bg-2,
.bg-3, .bg-4 {
    color: #ccc;
}

.indented {
    margin-left: 30px;
}

/* Sidedrawer animation */
@keyframes openSideDrawer {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes closeSideDrawer {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.sideDrawerTransition-enter-active {
    animation: openSideDrawer 0.3s linear forwards;
}

.sideDrawerTransition-exit-active {
    animation: closeSideDrawer 0.3s linear forwards;
}
/* Sidedrawer animation end*/


/* View transition start */
.view {
    position: absolute;
    width: 100%;
}

@keyframes viewEnter {
    from { opacity: 0; transform: translateX(-50%); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes viewExit {
    from { opacity: 1; transform: translateX(0); }
    to { opacity: 0; transform: translateX(50%); }
}

.view-enter-active {
    animation: viewEnter 0.6s ease-out forwards;
}

.view-exit-active {
    animation: viewExit 0.6s ease-out forwards;
}
/* View transition end */
